doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery/jquery.min.js" defer)
    script(src="/javascripts/style.js" defer)
  body
    block content